---
 const personalImageAlt = "Luisa Triana"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-pink-500 dark:[&>p>strong]:text-pink-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Luisa Triana, tengo 20 a침os y soy de Cartagena de Indias, Colombia. Actualmente
      estoy en s칠ptimo semestre de Ingenier칤a de Sistemas y Computaci칩n, pero empec칠 en el
      mundo de la programaci칩n cuando ten칤a 15 a침os y desde ah칤 no he parado. Actualmente me encanta el  <strong
        >desarrollo web</strong>, en especial la parte de <strong>frontend</strong> y <strong>UX/UI</strong> porque puedo
        combinar mi pasi칩n por la tecnolog칤a y el dise침o. 
    </p>

    <p>
      Me motiva el desaf칤o de estar en un campo en constante evoluci칩n, 
      donde siempre hay algo nuevo por descubrir y aplicar. Disfruto aprender 
      constantemente, por lo que en mi tiempo libre realizo cursos de desarrollo 
      personal y capacitaci칩n en tecnolog칤as emergentes. 游 

    <p>
      Manejo herramientas como 
      <strong>Java, Python, HTML/CSS, WordPress y Figma</strong>, que me permiten crear soluciones 
      innovadoras y funcionales. Adem치s, tengo conocimientos en <strong>Git, GitHub,
      JavaScript y Bootstrap</strong>.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-pink-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
