---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2024",
    title: "Health Care System",
    company: "Plataforma de Gestión de Información Clínica",
    description:
      "Desempeñé como desarrollador web en este proyecto, utilizando tecnologías como Figma para la creación de una interfaz de usuario amigable y Python, FastAPI, HTML/CSS y JavaScript para la implementación.",
  },
  {
    date: "2024",
    title: "Task Manager",
    company: "Administrador de Tareas",
    description:
      "Proyecto en el que asumí el rol de diseñadora UX/UI, donde pude crear una interfaz amigable y poner en práctica mis conocimientos en Business Agility por medio del trabajo en equipo.",
  },
  {
    date: "2023",
    title: "Barber Shop",
    company: "Plataforma de Reservas Estéticas",
    description:
      "Proyecto personal que crea reservas para citas de peluqueria, elaborado con tecnologías como Figma,  HTML/CSS, JavaScript y BootStrap.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
